###  part 1 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
#ingredients

from scipy import stats
import numpy as np
import pandas as pd 
import math

In [2]:
data=pd.read_csv('machine.csv')
data.head(2)

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6

In [3]:
data.describe()

       New machine  Old machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

In [4]:
data.std()

New machine    0.683455
Old machine    0.749889
dtype: float64

In [5]:
meanold=data['Old machine'].mean()

In [6]:
meannew=data['New machine'].mean()

In [7]:
obs=20

#degrees of freedom 0 (n1 + n2) - 2

### define hypothesis 

Ho new machine is no faster than old machine 

Ha new machine is faster than old machine 

method : 1 tailed t test - referring to the t distribution to find the critical value 
   
   
   do observations for New fall into the critical area AND 
   is the p value less than 0.05

# degrees of freedom 
https://www.statisticshowto.com/probability-and-statistics/hypothesis-testing/degrees-of-freedom/

2 independent samples dof 

(N1 + N2 ) -2

confirming we are going for 0.05 significance level

In [8]:
dof = obs-2
sl=0.95

In [9]:
dof

18

https://www.sjsu.edu/faculty/gerstman/StatPrimer/t-table.pdf
    look up the t value 
    1.734
    
 (as we are doing a left tailed test this will be -1.734)

In [10]:
t_critical=stats.t.ppf(sl, dof)
t_critical

# critical value

1.7340636066175354

### t statistic and p value test

In [11]:
#stats.ttest_ind function
# f(sample1,sample2, <parameters> equal_var=False)

# pooled std - ignore because i didnt like the maths 

# turn the dataframe into 2 numpy arrays

In [13]:
arrnew=data['New machine'].to_numpy()
arrnew

array([42.1, 41. , 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7])

In [14]:
arrold=data['Old machine'].to_numpy()
arrold

array([42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44. , 44.1])

In [19]:
#calculate the t statistic & p value 
statistic=stats.ttest_ind(arrnew, arrold, equal_var=False)
statistic

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [ ]:
### concl 

p value is less than 0.05  --- looks like theres significance based on p value alone 

t statistic is lower than the critical value threshold 

that there is evidence to infer that the new machine is faster than the old machine

(even with just 10 samples)